<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_RewardsSocial>
            <version></version>
        </Mirasvit_RewardsSocial>
    </modules>
    <global>
        <blocks>
            <rewardssocial>
                <class>Mirasvit_RewardsSocial_Block</class>
            </rewardssocial>
        </blocks>
        <models>
            <rewardssocial>
                <class>Mirasvit_RewardsSocial_Model</class>
                <resourceModel>rewardssocial_resource</resourceModel>
            </rewardssocial>
            <rewardssocial_resource>
                <class>Mirasvit_RewardsSocial_Model_Resource</class>
                <entities>
                </entities>
            </rewardssocial_resource>
        </models>
        <helpers>
            <rewardssocial>
                <class>Mirasvit_RewardsSocial_Helper</class>
            </rewardssocial>
        </helpers>
        <resources>
            <mst_rewardssocial_setup>
                <setup>
                    <module>Mirasvit_RewardsSocial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_rewardssocial_setup>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <mst_rewardssocial_model_observer_output>
                        <type>singleton</type>
                        <class>rewardssocial/observer_output</class>
                        <method>afterOutput</method>
                    </mst_rewardssocial_model_observer_output>
                </observers>
            </core_block_abstract_to_html_after>
            <!--
            <magento_event_name>
                <observers>
                    <m_rewardssocial_observer>
                        <type>singleton</type>
                        <class>YourObserverClassName</class>
                        <method>yourFunctionName</method>
                    </m_rewardssocial_observer>
                </observers>
            </magento_event_name>
            -->
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <rewardssocial>
                    <file>mst_rewardssocial.xml</file>
                </rewardssocial>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_RewardsSocial>
                    <files>
                        <default>Mirasvit_RewardsSocial.csv</default>
                    </files>
                </Mirasvit_RewardsSocial>
            </modules>
        </translate>
        <routers>
            <rewardssocial>
                <use>standard</use>
                <args>
                    <module>Mirasvit_RewardsSocial</module>
                    <frontName>rewardssocial</frontName>
                </args>
            </rewardssocial>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<rewardssocialadmin before="Mage_Adminhtml">Mirasvit_RewardsSocial_Adminhtml</rewardssocialadmin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_RewardsSocial>
                    <files>
                        <default>Mirasvit_RewardsSocial.csv</default>
                    </files>
                </Mirasvit_RewardsSocial>
            </modules>
        </translate>
        <layout>
            <updates>
                <rewardssocial>
                    <file>mst_rewardssocial.xml</file>
                </rewardssocial>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <rewardssocial>
            <facebook>
                <is_active>1</is_active>
                <app_version>v2.9</app_version>
            </facebook>
            <twitter>
                <is_active>1</is_active>
            </twitter>
            <googleplus>
                <is_active>1</is_active>
            </googleplus>
            <pinterest>
                <is_active>1</is_active>
            </pinterest>
            <refer>
                <is_active>1</is_active>
            </refer>
            <display>
                <show_buttons_on_category_page>1</show_buttons_on_category_page>
            </display>
        </rewardssocial>
    </default>
</config>
