<?xml version="1.0"?>
<config>
	<tabs>
		<uxmill translate="label" module="uxbase">
			<label>Uxmill</label>
			<sort_order>0</sort_order>
		</uxmill>
	</tabs>
	<sections>
		<core translate="label" module="uxbase">
			<label>Genearl</label>
			<tab>uxmill</tab>
			<frontend_type>text</frontend_type>
			<sort_order>0</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
		</core>
	</sections>
</config>
