<?xml version="1.0"?>
<config>
  <modules>
    <Codesbug_Ccavenue>
      <version>0.1.0</version>
    </Codesbug_Ccavenue>
  </modules>
  <global>
    <models>
      <ccavenue>
        <class>Codesbug_Ccavenue_Model</class>
      </ccavenue>
    </models>
    <helpers>
      <ccavenue>
        <class>Codesbug_Ccavenue_Helper</class>
      </ccavenue>
    </helpers>
    <blocks>
      <ccavenue>
        <class>Codesbug_Ccavenue_Block</class>
      </ccavenue>
    </blocks>
  </global>
  <default>
    <payment>
      <ccavenue>
        <model>ccavenue/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>My Gateway</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </ccavenue>
    </payment>
  </default>
  <frontend>
    <routers>
      <ccavenue>
        <use>standard</use>
        <args>
          <module>Codesbug_Ccavenue</module>
          <frontName>ccavenue</frontName>
        </args>
      </ccavenue>
    </routers>
  </frontend>
</config>
