<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Meetanshi_MobileLogin>
            <version>1.0.0</version>
        </Meetanshi_MobileLogin>
    </modules>
    <frontend>
        <routers>
            <mobilelogin>
                <use>standard</use>
                <args>
                    <module>Meetanshi_MobileLogin</module>
                    <frontName>mobilelogin</frontName>
                </args>
            </mobilelogin>
        </routers>
        <layout>
            <updates>
                <mobilelogin>
                    <file>mobilelogin.xml</file>
                </mobilelogin>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <mobilelogin>
                <class>Meetanshi_MobileLogin_Block</class>
            </mobilelogin>
        </blocks>
        <helpers>
            <mobilelogin>
                <class>Meetanshi_MobileLogin_Helper</class>
            </mobilelogin>
        </helpers>
        <resources>
            <mobilelogin_setup>
                <setup>
                    <module>Meetanshi_MobileLogin</module>
                    <class>Meetanshi_MobileLogin_Model_Resource_Setup</class>
                </setup>
            </mobilelogin_setup>
        </resources>
        <blocks>
            <mobilelogin>
                <class>Meetanshi_MobileLogin_Block</class>
            </mobilelogin>
        </blocks>
        <models>
            <mobilelogin>
                <class>Meetanshi_MobileLogin_Model</class>
                <resourceModel>mobilelogin_mysql4</resourceModel>
            </mobilelogin>
            <mobilelogin_mysql4>
                <class>Meetanshi_MobileLogin_Model_Mysql4</class>
                <entities>
                    <mobilelogin>
                        <table>mobilelogin</table>
                    </mobilelogin>
                </entities>
            </mobilelogin_mysql4>
        </models>
        <fieldsets>
            <checkout_onepage_quote>
                <customer_mobilenumber>
                    <to_customer>mobilenumber</to_customer>
                </customer_mobilenumber>
            </checkout_onepage_quote>
            <checkout_onepage_billing>
                <mobilenumber>
                    <to_customer>*</to_customer>
                </mobilenumber>
            </checkout_onepage_billing>
            <customer_account>
                <mobilenumber>
                    <to_quote>customer_mobilenumber</to_quote>
                </mobilenumber>
            </customer_account>
            <sales_convert_order>
                <customer_mobilenumber>
                    <to_quote>*</to_quote>
                </customer_mobilenumber>
            </sales_convert_order>
        </fieldsets>
        <rewrite>
            <meetanshi_mobilelogin_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- Mage_Customer_AccountController  -->
                <to>/mobilelogin/customer_account/</to> <!-- Meetanshi_Mobilelogin  _Customer_AccountController  -->
            </meetanshi_mobilelogin_customer_accountcontroller>
        </rewrite>
        <events>
            <sales_order_place_after>
                <observers>
                    <observersample_event_model_observer>
                        <type>singleton</type>
                        <class>mobilelogin/observer</class>
                        <method>order_place_after</method>
                    </observersample_event_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mobilelogin translate="title" module="mobilelogin">
                                            <title>Mobile Login</title>
                                        </mobilelogin>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <mobilelogin>
            <general>
                <otplength>6</otplength>
            </general>
        </mobilelogin>
    </default>
</config>
