<?xml version="1.0"?>
<config>
	<modules>
		<Meetanshi_Restrictzip>
			<version>1.0.0</version>
		</Meetanshi_Restrictzip>
	</modules>
	<global>
		<helpers>
			<restrictzip>
				<class>Meetanshi_Restrictzip_Helper</class>
			</restrictzip>
		</helpers>
		<models>
			<restrictzip>
				<class>Meetanshi_Restrictzip_Model</class>
				<resourceModel>restrictzip_mysql4</resourceModel>
			</restrictzip>
			<customer>
              <rewrite>
                  <attribute_data_postcode>Meetanshi_Restrictzip_Model_Attribute_Data_Postcode</attribute_data_postcode>
              </rewrite>
          	</customer>
			<restrictzip_mysql4>
				<class>Meetanshi_Restrictzip_Model_Mysql4</class>
				<entities>		  
					<restrictzip>
						<table>restrictzip_zip</table>
					</restrictzip>
				</entities>
			</restrictzip_mysql4>
		</models>
		<resources>
			<restrictzip_setup>
				<setup>
					<module>Meetanshi_Restrictzip</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</restrictzip_setup>
			<restrictzip_write>
				<connection>
					<use>core_write</use>
				</connection>
			</restrictzip_write>
			
			<restrictzip_read>
				<connection>
					<use>core_read</use>
				</connection>
			</restrictzip_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<restrictzip>
				<use>standard</use>
				<args>
					<module>Meetanshi_Restrictzip</module>
					<frontName>restrictzip</frontName>
				</args>
			</restrictzip>
		</routers>
		<layout>
			<updates>
				<meetanshi_restrictzip>
					<file>restrictzip.xml</file>
				</meetanshi_restrictzip>
			</updates>
		</layout>
	</frontend>
	<default>
		<restrictzip>
			<restrictzip>
				<active>1</active>
				<showdelivery>1</showdelivery>
				<title>Check Delivery is available in your area:</title>
				<delsuc>Delivery is available in your area.</delsuc>
				<delerr>Delivery is not available in your area.</delerr>
			</restrictzip>
		</restrictzip>
	</default>
</config>
