"%s can\'t be applied.", "%s non può essere applicato."
"%s was applied.", "%s è stato applicato."
"%s was canceled.", "%s è stato annullato."
"Actions", "Azioni"
"Active From", "Attivo da"
"Active To", "Attivo fino a"
"Add New Earning Rule", "Aggiungi una nuova regola di guadagno"
"Add New Notification Rule", "Aggiungi una nuova regola di notifica"
"Add New Spending Rule", "Aggiungi una nuova regola di utilizzo"
"Add New Transaction", "Aggiungi una nuova transazione"
"Affiliate Customer", "Clienti Affiliati"
"All", "Tutti"
"Allow Everything", "Permetti Tutto"
"Applies only to registered customers, may vary when logged in.", "Applica solo a clienti registrati. Può variare se sono connessi."
"Apply Points", "Applica Punti"
"Approve earned points on invoice", "Consenti di guadagnare punti alla fattura"
"Approve earned points on shipment", "Consenti di guadagnare punti alla spedizione"
"Are you sure?", "Sei sicuro?"
"Arranged in the ascending order. 0 is the highest.", "Disposti in ordine crescente. 0 è il più alto."
"Balance Change", "Modifica il Saldo"
"Balance update Email", "Email per aggiornamento Saldo"
"Behavior Rule", "Regole di comportamento"
"Cancel Points", "Punti Annullati"
"Cancel earned %s for the order #%s.", "Annulla %s guadagnati per l'ordine n.%s."
"Cancel earned points after order refunding", "Annulla i punti guadagnati dopo il rimborso di un ordine."
"Cannot apply %s.", "Non posso applicare %s."
"Cart Rule", "Regola di Carrello"
"Change status", "Cambia Stato"
"Checkout now and earn <b>%s</b> for this order.", "Paga ora e guadagna <b>%s</b> per questo ordine."
"Cart Page", "Pagina del Carrello"
"Checkout Page", "Pagina della Cassa"
"Comment", "Commenta"
"Conditions", "Condizioni"
"Conditions & Actions", "Condizioni & Azioni"
"Conditions Combination", "Combinazione di Condizioni"
"Create New Earning Rule", "Crea una nuova regola di guadagno"
"Create New Notification Rule", "Crea una nuova regola di notifica"
"Create New Referral", "Crea nuova raccomandazione"
"Create New Spending Rule", "Crea nuova regola di consumo"
"Create New Transaction", ""Crea nuova transazione"
"Created", "Creato"
"Created At", "Creato a"
"Currency to Points", "Denaro > Punti"
"Customer Account > My Referrals", "Account Cliente > Mie raccomandazioni"
"Customer Account > My Reward Points", "Account Cliente > Miei punti fedeltà"
"Customer Earning Style", "Grafica dei guadagni del cliente"
"Customer Email", "Email per il cliente"
"Customer Groups", "Gruppi di clienti"
"Customer Name", "Nome del cliente"
"Customer Referrals", "Raccomandazioni dei clienti"
"Customer adds tag to a product", "Tag aggiunti dal cliente a un prodotto"
"Customer emails product\'s link to a friend", "Email di clienti con link di prodotti per un amico"
"Customer has a birthday", "Compleanno del cliente"
"Customer is not active for long time", "Il cliente non è attivo da molto"
"Customer receive Y discount", "Il cliente riceve uno sconto Y"
"Customer signs up in store", "Il cliente si iscrive al negozio"
"Customer votes", "Il cliente vota"
"Customer will see this in his account", "Il cliente vedrà questo nella sua pagina account"
"Customer with email ", "Il cliente con email "
"Customer writes a product\'s review", "Il cliente scrive la recensione di un prodotto"
"Date", "Data"
"Delete", "Cancella"
"Disabled", "Disabilita"
"Earn", "Guadagna"
"Earn Maximum", "Massimo guadagno"
"Earned %s for the order #%s.", "Hai guadagnato %s per l'ordine n.%s."
"Earned points will be enrolled to your account after we finish processing your order.", "I punti guadagnati saranno iscritti al tuo account dopo che abbiamo finito di elaborare l'ordine."
"Earning %s", "Guadagno %s"
"Earning Rules", "Regole di guadagno"
"Edit Earning Rule '%s'", "Modifica la regola di guadagno '%s'"
"Edit Notification Rule '%s'", "Modifica la regola di notifica '%s'"
"Edit Referral '%s'",", "Modifica la raccomandazione '%s'"
"Edit Spending Rule '%s'", "Modifica la regola di consumo '%s'"
"Edit Transaction '%s'", "Modifica la transazione '%s'"
"Email", "Email"
"Email Sender", "Mittente della Email"
"Enable Referral System", "Abilita il cliente a inviare raccomandazioni"
"Enabled", "Abilitato"
"Enter amount of points to spend:", "Inserisci i punti da spendere:"
"Enter contacts of your friends to invite them.", "Inserisci i contatti degli amici che vuoi invitare."
"Event", "Evento"
"Expires", "Scade"
"Expires At", "Scade il"
"Facebook Like", "Mi piace di Facebook"
"Filters", "Filtri"
"First order from referred customer", "Primo ordine del cliente che ha avuto la raccomandazione"
"For each spent X points", "Per ogni X punti spesi"
"For every Y, give X points", "Per ogni Y, dare X punti"
"General Information", "Informazioni Generali"
"General Settings", "Configurazioni Generali"
"Give X points for every Z quantity", "Da X punti per ogni Z quantità"
"Give X points for every spent Y", "Da X punti per ogni spent Y"
"Give X points to customer", "Da X punti al cliente"
"Google+ Like", "Google+ Like"
"Grid", "Griglia"
"Happy birthday! You received %s.", "Buon compleanno! Hai ricevuto %s."
"Invitation Email Template", "Email Template dell'email per l'invito"
"Is Active", "è attivo"
"Made First Order", "Fatto il primo ordine"
"Made Order", "Ordine fatto"
"Maximum Distributed Points", "Massimi punti distribuiti"
"Maximum number is %s.", "Massimo numero e %s."
"Maximum number of earned points for one customer per day", "Massimo numero di punti guadagnati giornalmente per un cliente"
"Message", "Messaggio"
"Message Sent", "Messaggio Spedito"
"Message for customer notification email", "Messaggio per email di notifica al cliente"
"Message in the rewards history", "Messaggio nella cronologia dei punti fedeltà"
"Maximum number is %s.", "Minimo numero e %s."
"Mirasvit Rewards", "Mirasvit Rewards"
"My Reward Points", "Miei punti fedeltà"
"Name", "Nome"
"New Earning Rule", "Nuova regola di guadagno"
"New Notification Rule", "Nuova regola di notifica"
"New Referral", "Nuova raccomandazione"
"New Spending Rule", "Nuova regola di consumo"
"New Transaction", "Nuova transazione"
"Newsletter sign up", "Iscriviti alla Newsletter"
"No", "No"
"Notification Rules", "Regola di notifica"
"Notification Settings", "Configurazione delle notifiche"
"Notifications", "Notifiche"
"Number of Inactive Days", "Numero di giorni di inattività"
"Number of Points (X)", "Numero di punti (X)"
"Number of points to give", "Numero di punti da dare"
"Order from referred customer", "Ordine da cliente che ha ricevuto la raccomandazione"
"Pinterest Pin", "Pinterest Pin"
"Point Unit Name", "Nome dell'unità di punti"
"Points", "Punti"
"Points Balance Change", "Cambio del saldo punti"
"Points Summary", "Riepilogo punti"
"Points expire Email", "Email per i punti in scadenza"
"Points to Currency", "Punti > Denaro"
"Priority", "Priorità"
"Product Rule", "Regola di prodotto"
"Quantity Step (Z)", "Passo della Quantità (Z)"
"Referral Customer", "Raccomandazione del cliente"
"Referral Email", "Email della raccomandazione"
"Referral Name", "Nome della raccomandazione"
"Referral Program", "Consiglia questo sito"
"Referrals", "Raccomandazioni"
"Referrals List", "Lista delle Raccomandazioni"
"Referred customer signs up in store", "Cliente che ha ricevuto la raccomandazione si registra nel negozio"
"Restore spended %s for the order #%s.", "Ripristina i %s punti spesi per l'ordine n.%s."
"Restore spent points after order refunding", "Ripristina i punti spesi dopo il rimborso dell'ordine"
"Reward Points", "Punti fedeltà"
"Reward points expire after, days", "I punti fedeltà scadono dopo, giorni"
"Rewards - Balance update Email", "Punti Fedeltà - Email per l'aggiornamento del saldo"
"Rewards - Invitation Email Template", "Punti Fedeltà - Template dell'Email per un invito"
"Rewards - Points expire Email", "Punti Fedeltà - Email per i punti in scadenza"
"Rule Name", "Nome della regola"
"Send Invitations", "Spedisci invito"
"Send notification before points expiring (in days)", "Invia notifica prima che i punti scadano (in giorni)"
"Set 0 to disable limit", "Setta 0 per disabilitare il limite"
"Set Ascending Direction", "Setta come crescente"
"Set Descending Direction", "Setta come decrescente"
"Settings", "Configurazioni"
"Show", "Mostra"
"Show message on", "Mostra messaggio su"
"Signed Up", "Iscritto"
"Sort by", "Ordina per"
"Spend %s", "Spendi %s"
"Spend maximum", "Spendi il massimo"
"Spend minimum", ""Spendi il minimo"
"Spent %s for the order #%s.", "Spendi %s per l'ordine n.%s."
"Spending Rules", "Regole di consumo"
"Status", "Stato"
"Step (Y)", "Passo (Y)"
"Stop further rules processing", "Ferma finchè le regole stanno processando"
"Store", "Negozio"
"Subtotal + Tax", "Subtotale + Tasse"
"Subtotal + Tax + Shipping", "Subtotale + Tasse + Spedizione"
"There are no Referrals", "Non ci sono raccomandazioni"
"There are no Transactions", "Non ci sono Transazioni"
"Transaction #%s is expired", "La Transazione n.%s è scaduta"
"Transactions", "Transazioni"
"Transactions History", "Cronologia delle Transazioni"
"Twitter Tweet", "Twitter Tweet"
"Type", "Tipo"
"Update the Product", "Aggiorna il Prodotto"
"Use Reward Points", "Usa i punti fedeltà"
"Use maximum %s", "Usa il massimo %s"
"View as", "Vedi come"
"Visit My Reward Points Section", "Visita la sezione dei punti fedeltà"
"Websites", "Siti Web"
"Yes", "Si"
"You Earn", "Tu guadagni"
"You Spend", "Tu spendi"
"You can use the following variables:", "Tu puoi usare le seguenti variabili:"
"You have <b>%s</b> available.", "Tu hai <b>%s</b> disponibile."
"You have <b>%s</b> in your account.", "Tu hai <b>%s</b> nel tuo account."
"You earned %s and spent %s for this order.", "Si guadagnano %s e spendono %s per questo ordine."
"You earned %s for this order.", "Si guadagnano %s per questo ordine."
"You received %s for first order of referral customer.", "Hai ricevuto %s per il primo ordine del cliente cui hai mandato la raccomandazione."
"You received %s for order of referral customer.", "Hai ricevuto %s per l'ordine del cliente cui hai mandato la raccomandazione."
"You received %s for sending this product", "Hai ricevuto %s per aver inviato questo prodotto"
"You received %s for sign up for newsletter", "Hai ricevuto %s per esserti iscritto alla newsletter"
"You received %s for sign up of referral customer.", "Hai ricevuto %s per l'iscrizione del cliente cui hai mandato la raccomandazione."
"You received %s for signing up", "Hai ricevuto %s per l'iscrizione"
"You received %s for voting", "Hai ricevuto %s per il voto"
"You will receive %s after approving of this review", "Riceverai %s dopo l'approvazione di questa recensione"
"You will receive %s after approving of this tag", "Riceverai %s dopo l'approvazione di questo tag"
"You spent %s for this order.", "Si spendono %s per questo ordine."
"You'll earn %s for this item", "Guadagnerain %s per questo prodotto"
"Your invitations were sent. Thanks!", "I tuoi inviti sono stati spediti. Grazie!"
"Your points balance will expire in %s days.", "Il tuo saldo punti fedeltà scadrà tra %s giorni."
