"Allow Everything", "Consenti tutto"
"Check this out!", "Confermalo!"
"Earn Reward Points for sharing!", "Condividi e guadagna nuovi punti fedeltà!"
"Facebook App ID", "Facebook App ID"
"Facebook Like Points has been canceled", "I punti per il mi piace su Facebook sono stati annullati"
"Facebook Settings", "Configurazione per Facebook"
"G+1 Points has been canceled", "I punti per il +1 di GooglePlus sono stati annullati"
"Google Plus Settings", "Configurazione per Google Plus"
"Like this page and earn %s", "Metti mi piace a questa pagina e guadagna %s"
"Login to earn %s for sharing!", "Effettua il Login e guadagna %s per la condivisione!"
"Maximum number of like rewards per day", "Massimo numero giornaliero di punti per mi piace"
"Maximum number of rewards per day", "Numero massimo giornaliero di punti"
"Maximum number of twitter rewards per day", "Massimo numero giornaliero di punti per Twitter"
"Pin this page and earn %s", "Metti un Pin a questa pagina e guadagna %s"
"Plus this page and earn %s", "Metti un +1 a questa pagina e guadagna %s"
"Refer Friends", "Invita Amici"
"Refer friend and earn %s. More friends more points!", "Invita Amici e guadagna %s. Più amici e più punti!"
"RewardsSocial - Balance update Email", "Fidelizzazione coi Social - Email per aggiornamento del saldo"
"RewardsSocial - Invitation Email Template", "Fidelizzazione coi Social - Template di una email per un invito"
"RewardsSocial - Points expire Email", "Fidelizzazione coi Social - Email per notifica di punti in scadenza"
"Show Facebook Like button", "Mostra Facebook Like button"
"Show Google Plus +1 button", "Mostra Google Plus +1 button"
"Show Pinterest pin button", "Mostra Pinterest pin button"
"Show Twitter Follow button", "Mostra Twitter Follow button"
"Social Networks Settings", "Social Networks Settings"
"Tweet", "Tweet"
"Tweet this page and earn %s", "Re-Tweetta questa pagina e guadagna %s"
"My Referrals", "Mie Recensioni"