@media (min-width: 200px) and (max-width: 600px) { 
 
 .product_instant_search_popup { width:auto; }
 
 .product_instant_search_popup .product_view .large_thumbnail { width:auto; float:none; }
 
 .product_instant_search_popup .product_view .large_thumbnail img { max-width:100%; height:auto; }
 
 .product_instant_search_popup .product_view .prod_detail { width:100%; float:none; padding-top:20px; }

 .product_instant_search_popup .related ul { text-align:center; }
 
 .product_instant_search_popup .related ul li { width:47%; }
 
 .product_instant_search_popup .related ul li img { max-width:100%; height:auto; }
 
 .product_instant_search_popup .close { top:-15px; right:-5px; background:#FFF; border-radius:50%; }

}

@media (min-width: 600px) and (max-width: 980px) { 
 
 .product_instant_search_popup { width:auto; }
 
 .product_instant_search_popup .product_view .large_thumbnail { width:auto; float:none; }
 
 .product_instant_search_popup .product_view .large_thumbnail img { max-width:100%; height:auto; }
 
 .product_instant_search_popup .product_view .prod_detail { width:100%; float:none; padding-top:20px; }

 .product_instant_search_popup .related ul { text-align:center; }
 
 .product_instant_search_popup .related ul li { width:32%; }
 
 .product_instant_search_popup .related ul li img { max-width:100%; height:auto; }

}