"%s can\'t be applied.","%s ne peut pas être appliqué.",
"%s was applied.","%s a été appliqué.",
"%s was canceled.","%s a été annulé.",
"Actions","Actions",
"Active From","Date de début",
"Active To","Date de fin",
"Add New Earning Rule","Ajouter nouvelle règle de gain",
"Add New Notification Rule","Ajouter nouvelle règle de notification",
"Add New Spending Rule","Ajouter nouvelle règle de dépense",
"Add New Transaction","Ajouter nouvel transaction",
"Affiliate Customer","Affilier client",
"All","Tous",
"Allow Everything","Tout autoriser",
"Allow to place orders with grand total = 0","Autoriser à les commandes avec grand total = 0",
"Allow to earn points from shipping charges","Autoriser à gagner des points sur les frais d'expédition",
"Allow to spend points for shipping charges","Autoriser à dépenser des points sur les frais d'expédition",
"Applies only to registered customers, may vary when logged in.","S'applique uniquement aux clients enregistrés, peut varier lorsque connecté.",
"Apply Points","Appliquer les points",
"Apply the rule only if the following conditions are met","Appliquer la règle seulement si les conditions suivantes sont remplies (laisser vide pour appliquer à tous les produits)",
"Approve earned points if order has status","Approuver les points gagnés si le statut est",
"Approve earned points on invoice","Approuver les points gagnés sur facture",
"Approve earned points on shipment","Approuver les points gagnés sur l'expédition",
"Are you sure?","Êtes-vous sûr ?",
"Arranged in the ascending order. 0 is the highest.","Disposé par ordre croissant. 0 est le plus élevé.",
"Balance Change","Solde",
"Balance update Email","Email d'information de solde",
"Behavior Rule","Règle comportementale",
"Cancel Points","Annuler les points",
"Cancel earned %s for the order #%s.","Annuler les %s gagnés pour la commande #%s.",
"Cancel earned points after order refunding","Annuler les points gagnés après remboursement de la commande",
"Cannot apply %s.","Impossible d'appliquer %s.",
"Cart Rule","Règle de panier",
"Change status","Changer statut",
"Checkout now and earn <b>%s</b> for this order.","Commander maintenant et gagner <b>%s</b> pour cette commande.",
"Cart Page","Page panier",
"Checkout Page","Page de commande",
"Comment","Commentaire",
"Conditions","Conditions",
"Conditions & Actions","Conditions & Actions",
"Conditions Combination","Combinaison de Conditions",
"Create New Earning Rule","Créer nouvelle règle de gain",
"Create New Notification Rule","Nouvelle règle de notification",
"Create New Referral","Créer nouveau parrainage",
"Create New Spending Rule","Créer nouvelle règle de dépense",
"Create New Transaction","Créer nouvelle transaction",
"Created","Créé",
"Created At","Créé à",
"Currency to Points","Argent en points",
"Customer Account > My Referrals","Compte client > Mes parrainages",
"Customer Account > My Reward Points","Compte client > Mes points de parrainage",
"Customer Earning Style","Style de gain client",
"Customer Email","Email client",
"Customer Groups","Groupes clients",
"Customer Name","Nom du client",
"Customer Referrals","Parrainages du client",
"Customer adds tag to a product","Le client ajoute une étiquette à un produit",
"Customer emails product\'s link to a friend","Le client envoie un lien vers le produit par email à un ami",
"Customer has a birthday","Anniversaire du client",
"Customer is not active for long time","Le client est inactif depuis longtemps",
"Customer receive Y discount","Le client reçoit un rabais Y",
"Customer signs up in store","Client s'est inscrit en magasin",
"Customer votes","Votes des clients",
"Customer will see this in his account","Client verra ceci sur son compte",
"Customer with email","Client avec email",
"Customer writes a product\'s review","Le client a écrit un avis sur le produit",
"Date","Date",
"Delete","Supprimer",
"Disabled","Désactivé",
"Earn","Gagner",
"Earn Maximum","Gain maximum",
"Earned %s for the order #%s.","%s gagnés pour la commande #%s.",
"Earning %s","Gagner %s",
"Earning Rules","Règles de gain",
"Edit Earning Rule '%s'","Modifier les règles des gains '%s'",
"Edit Notification Rule '%s'","Modifier les règles de notification '%s'",
"Edit Referral '%s'","Modifier parrainage '%s'",
"Edit Spending Rule '%s'","Modifier les règles de dépense '%s'",
"Edit Transaction '%s'","Modifier transaction '%s'",
"Email","Email",
"Email Sender","Expéditeur de l'email",
"Enable Referral System","Activer le système de parrainage",
"Enabled","Activé",
"Enter amount of points to spend:","Entrez le montant de points à dépenser :",
"Enter contacts of your friends to invite them.","Entrez les contacts de vos amis pour les inviter.",
"Event","Événement",
"Expires","Expire",
"Expires At","Expire le",
"Facebook Like","J'aime Facebook",
"Filters","Filtres",
"First order from referred customer","Première commande du client parrainé",
"For each spent X points","Pour X points dépensés",
"For every Y, give X points","Pour chaque Y, donnez X points",
"General Information","Informations générales",
"General Settings","Paramètres généraux",
"Give X points for every Z quantity","Donnez X points pour chaque quantité de Z",
"Give X points for every spent Y","Donnez X points pour chaque Y dépensé",
"Give X points to customer","Donnez X points au client",
"Google+ Like","J'aime Google+ ",
"Grid","Grille",
"Happy birthday! You received %s.","Joyeux anniversaire ! Vous recevez %s.",
"Invitation Email Template","Modèle d'invitation par email",
"Is Active","Statut",
"Made First Order","Première commande effectuée",
"Made Order","Commande effectuée",
"Maximum Distributed Points","Maximum de points distribués",
"Maximum number is %s.","Le nombre maximum est de %s.",
"Maximum number of earned points for one customer per day","Nombre maximum de points gagnés par client et par jour",
"Message","Message",
"Message Sent","Message envoyé.",
"Message for customer notification email","Message de notification au client par email",
"Message in the rewards history","Message dans l'historique de récompenses",
"Minimum number is %s.","Le nombre minimum est de %s.",
"Mirasvit Rewards","Récompenses Mirasvit",
"My Reward Points","Mes points de fidélité",
"My Referrals","Mes parrainages",
"Name","Nom",
"New Earning Rule","Nouvelle règle de gain",
"New Notification Rule","Nouvelle règle de notification",
"New Referral","Nouveau parrainage",
"New Spending Rule","Nouvelle règle de dépense",
"New Transaction","Nouvelle transaction",
"Newsletter sign up","Inscription à la newsletter",
"No","Non",
"Notification Rules","Règles de notification",
"Notification Settings","Paramètres de notification",
"Notifications","Notifications",
"Number of Inactive Days","Nombre de jours d'inactivité",
"Number of Points (X)","Nombre de points (X)",
"Number of points to give","Nombre de points à donner",
"Number of points to give (X)","Nombre de points à donner (X)",
"Order from referred customer","Commande du client parrainé",
"Pinterest Pin","Pinterest Pin",
"Point Unit Name","Nom de l'unité des point(s)",
"Points","Points",
"Points Balance Change","Solde de points",
"Points Summary","Récapitulatif des points",
"Points expire Email","Email d'expiration des points",
"Points to Currency","Points en argent",
"Priority","Priorité",
"Product Rule","Règle de produit",
"Quantity Step (Z)","Étape quantité (Z)",
"Referral Customer","Client parrainé",
"Referral Email","Email de parrainage",
"Referral Name","Nom du parrainé",
"Referral Program","Programme de parrainage",
"Referrals","Parrainés",
"Referrals List","Liste de parrainages",
"Referred by link","Parrainé par lien",
"Referred customer signs up in store","Le client parrainé s'est inscrit dans la boutique",
"Restore spended %s for the order #%s.","Annuler les %s dépensés pour la commande #%s.",
"Restore spent points after order refunding","Annuler les points dépensés après remboursement de la commande",
"Reward Points","Points de fidélité",
"Reward points expire after, days","Nombre de jour avant expiration des points de fidélité",
"Rewards - Balance update Email","Récompenses – Information de solde par email",
"Rewards - Invitation Email Template","Récompenses – Modèle de l'email d'invitation",
"Rewards - Points expire Email","Récompenses – Information d'expiration des points par email",
"Rule Name","Nom de la règle",
"Save And Continue Edit","Sauvegarder et continuer à éditer",
"Send Invitations","Envoyer des invitations",
"Send notification before points expiring (in days)","Envoyer une notification avant que les points expirants (en jours)",
"Set 0 to disable limit","Choisissez 0 pour désactiver la limite",
"Set Ascending Direction","Par ordre décroissant",
"Set Descending Direction","Par ordre croissant",
"Settings","Paramètres",
"Show","Afficher",
"Show message on","Afficher message sur",
"Signed Up","S'inscrire",
"Sort by","Trier par",
"Spend %s","Dépenser %s",
"Spend maximum","Maximum de dépense",
"Spend minimum","Minimum de dépense",
"Spent %s for the order #%s.","%s dépensés pour la commande #%s.",
"Spending Rules","Règles de dépense",
"Status","Statut",
"Step (Y)","Étape (Y)",
"Stop further rules processing","Ne pas traiter les règles suivantes (non cumulable)",
"Store","Boutique",
"Subtotal + Tax","Sous-total + Taxes",
"Subtotal + Tax + Shipping","Sous-total + Taxes + Frais d'expédition",
"There are no Referrals","Il n'y a pas de parrainages",
"There are no Transactions","Il n'y a pas de transactions",
"Transaction #%s is expired","La transaction #%s a expiré",
"Transactions","Transactions",
"Transactions History","Historique de transactions",
"Twitter Tweet","Tweet Twitter",
"Type","Type",
"Update the Product","Mettre à jour le produit",
"Use Reward Points","Utiliser des points de récompense",
"Use maximum %s","Utiliser %s maximum",
"Use points and coupons at the same time","Utiliser des points et des coupons en même temps",
"View as","Afficher en",
"Visited by Referral Link","Visité par les liens de parrainage",
"Visit My Reward Points Section","Visitez ma section points de récompense",
"Websites","Sites web",
"Yes","Oui",
"You Earn","Vous gagnez",
"You Spend","Vous dépensez",
"You can use the following variables:","Vous pouvez utiliser les variables suivantes :",
"You can not spend points while using coupon.","Vous ne pouvez pas dépenser des points en utilisant un coupon.",
"You can not use coupon with points spent.","Vous ne pouvez pas utiliser de coupons en dépensant des points.",
"You have <b>%s</b> available.","Vous avez <b>%s</b> disponibles.",
"You have <b>%s</b> in your account.","Vous avez <b>%s</b> sur votre compte.",
"You received %s for first order of referral customer.","Vous avez reçu %s pour la première commande de votre filleul.",
"You received %s for order of referral customer.","Vous avez reçu %s pour la commande de votre filleul.",
"You received %s for sending this product","Vous avez reçu %s pour avoir envoyé ce produit.",
"You received %s for sign up for newsletter","Vous avez reçu %s pour vous être inscrit à notre newsletter",
"You received %s for sign up of referral customer.","Vous avez reçu %s pour l'inscription de votre filleul.",
"You received %s for signing up","Vous avez reçu %s pour votre inscription",
"You received %s for voting","Vous avez reçu %s pour votre vote",
"You will receive %s after approving of this review","Vous recevrez %s après vérification de cet avis",
"You will receive %s after approving of this tag","Vous recevrez %s après vérification de cet avis",
"You'll earn %s for this item","Vous gagnerez %s pour cet article",
"Your invitations were sent. Thanks!","Vos invitations ont été envoyées. Merci !",
"Your points balance will expire in %s days.","Votre solde de points expirera dans %s jours.",
