"Allow Everything","Autorisez tout"
"Check this out!","Regardez-ça !"
"Earn Reward Points for sharing!","Obtenez des points de récompense en partageant !"
"Facebook App ID","App ID Facebook"
"Facebook Like Points has been canceled","Le système de points pour les like sur facebook a été annulé"
"Facebook Settings","Options facebook"
"G+1 Points has been canceled","Le système de points pour les like sur google+ a été annulé"
"Google Plus Settings","Options google plus"
"Like this page and earn %s","Aimez cette page et obtenez %s"
"Login to earn %s for sharing!","Connectez-vous pour obtenir %s en partageant !"
"Maximum number of like rewards per day","Nombre maximum de like récompensés par jour"
"Maximum number of rewards per day","Nombre maximum de récompenses par jour"
"Maximum number of twitter rewards per day","Nombre maximum de récompenses twitter par jour"
"Pin this page and earn %s","Épinglez cette page et obtenez %s"
"Plus this page and earn %s","Aimez cette page et obtenez %s"
"Refer Friends","Référez des amis"
"Refer friend and earn %s. More friends more points!","Référez des amis et obtenez %s. Plus d'amis plus de points !"
"RewardsSocial - Balance update Email","Récompenses sociales - L'équilibre met à jour l'email"
"RewardsSocial - Invitation Email Template","Récompenses sociales - L'invitation email le modèle"
"RewardsSocial - Points expire Email","Récompenses sociales - Les points expirent l'email"
"Share with Friends","Partager avec des amis"
"Share the referal link in the social media and get points!","Partagez votre lien de parrainage sur les réseaux sociaux et obtenez des points !"
"Show Facebook Like button","Montrez le boutton like de facebook"
"Show Google Plus +1 button","Montrez le boutton +1 de google plus"
"Show Pinterest pin button","Montrez le boutton pin de pinterest "
"Show Twitter Follow button","Montrez le boutton suivre de twitter"
"Social Networks Settings","Options réseaux sociaux"
"Tweet","Tweet"
"Tweet this page and earn %s","Tweetez cette page et obtenez %s"
"Your referral link","Votre lien de parrainage"
"Share","Partager"
"Your product referral link", "Votre lien de parrainage de produit"
"Contacts of your friends to invite them","Contacts de vos amis pour les inviter"
"Enter comma-separated email list","Entrer une liste d'e-mails séparés par des virgules"
"Send Invitations","Envoyer des invitations"