<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <ambimax_qtyswitcher translate="label" module="ambimax_qtyswitcher">
                    <label>ambimax® Qty Switcher</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <display_on_all_pages translate="label comment">
                            <label>Display On all Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_on_all_pages>
                    </fields>
                </ambimax_qtyswitcher>
            </groups>
        </catalog>
    </sections>
</config>
